<?xml version="1.0" encoding="UTF-8"?>

<suite name="Suite1">

	<test name="TestLoginapp">
    <classes>
        <class name="TestPackage.TestLoginapp" ></class>  
    </classes>
</test>
<test name="TestLoginapp1">
    <classes>
        <class name="TestPackage.TestLoginapp1" ></class>  
    </classes>
</test>
<test name="TestloginApp2">
    <classes>
        <class name="TestPackage.TestloginApp2" ></class>  
    </classes>
</test>
 </suite>